<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Form Add Admin</h5>

            <% if(typeof errors != "undefined") { %>
            <div class="alert alert-primary" role="alert">
              <% errors.forEach(error => { %>
              <li><%= error.msg %></li>
              <% }) %>
            </div>
            <% } %>

            <form
              action="/data-admin/add"
              method="post"
              class="row g-3 needs-validation"
              novalidate
            >
              <!-- <div class="col-12">
                <label for="id" class="form-label">Id</label>
                <input
                  type="text"
                  class="form-control"
                  id="id"
                  name="id_admin"
                  required
                />
              </div> -->
              <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  required
                />
                <div class="invalid-feedback">Please enter your username!</div>
              </div>

              <div class="col-12">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="nama"
                  required
                />
                <div class="invalid-feedback">Please enter your name!</div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                />
                <div class="invalid-feedback">Please enter your email!</div>
              </div>

              <div class="col-12">
                <label for="mobile_phone" class="form-label"
                  >Mobile Phone</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="mobile_phone"
                  name="mobile_phone"
                  required
                />
                <div class="invalid-feedback">
                  Please enter your mobile phone!
                </div>
              </div>

              <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="yourPassword"
                  required
                />
                <div class="invalid-feedback">Please enter your password!</div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
                <a href="/data-admin" class="btn btn-primary"
                  >Back to admin page</a
                >
              </div>
            </form>
            <!-- Vertical Form -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
