<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
    <br>
    
  </div><!-- End Page Title -->
  <% if (message.length !=0) { if (message[0].alert=='success' ) { %>
    <div class="alert alert-success" role="alert">
        <%= message[0].message %>
    </div>
<% } else if (message[0].alert=='warning' ) { %>
    <div class="alert alert-warning" role="alert">
        <%= message[0].message %>
    </div>
<% } else { %>
    <div class="alert alert-danger" role="alert">
        <%= message[0].message %>
    </div>
<% } } %>
  

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-7">
        <div class="row">
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">Our Products</h5>

              <!-- Slides with controls -->
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="/products">
                      <img src="/assets/img/hp_gaming.jpg" class="d-block w-100" alt="pc">
                    </a>
                    
                  </div>
                  <div class="carousel-item">
                    <a href="/products">
                      <img src="/assets/img/handphone.jpg" class="d-block w-100" alt="mobile phone">
                    </a>
                  </div>

                  <div class="carousel-item">
                    <a href="/products"><img src="/assets/img/shoes.jpg" class="d-block w-100" alt="sports">
                    </a>
                  </div>

                  <div class="carousel-item">
                    <a href="/products"><img src="/assets/img/product-5.jpg" class="d-block w-100" alt="sports">
                    </a>
                  </div>

                </div>  
                <!-- end carousel-inner-->

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>

              </div><!-- End Slides with controls -->

            </div>
          </div>
      <!-- Customers Card -->
      <div class="col-xxl-4 col-xl-12">
        <div class="card info-card customers-card">
          <div class="card-body">
            <h4 class="card-title">Category</h4>
            <div class="d-flex align-items-center">
            <div class="category-boxes">
              <!-- Kategori Box 1 -->
              <div class="category-box" >
                <a href="/products">
                <img src="/assets/img/apple.jpg" alt="PC" >
                <div class="category-name">PC & Accessories</div>
                </a>
              </div>

              <!-- Kategori Box 2 -->
              <div class="category-box">
                <a href="/products">
                <img src="/assets/img/handphone.jpg" alt="Mobile Phone">
                <div class="category-name">Mobile Phone & Accessories</div>
              </a>
              </div>

              <!-- Kategori Box 3 -->
              <div class="category-box">
                <a href="/products">
                <img src="/assets/img/shoes.jpg" alt="running shoes">
                <div class="category-name">Sports</div>
                </a>
              </div>


          </div>
          </div>
        </div>
      </div>
    </div><!-- End Top Selling -->
</div>

</div><!-- End Customers Card -->

<div class="col-lg-5">
  <!-- News & Updates Traffic -->
  <div class="card">
    <div class="filter">
      <a class="icon" href="#" data-bs-toggle="dropdown"></a>
    </div>

    <div class="card-body pb-0">
      <h5 class="card-title">Other Products</h5>

      <div class="news">
        <div class="post-item clearfix">
          <img src="assets/img/product-2.jpg" alt="">
          <h4><a href="/products">LENTIVEN WATERPROOF SMARTWATCH BLUETOOTH FITNESS</a></h4>
          <p>TELPHONE FULL SCREEN</p>
        </div>

        <div class="post-item clearfix">
          <img src="assets/img/product-4.jpg" alt="">
          <h4><a href="/products">PL-MX011 Fashion Sunglasses</a></h4>
          <p>Korean Fashion Glasses Import</p>
        </div>

         <div class="post-item clearfix">
          <img src="assets/img/product-1.jpg" alt="">
          <h4><a href="/products">ADIDAS ULTRABOOST 21 TRIPLE BLACK ORIGINAL! - 40</a></h4>
          <p>Made in Indonesia/Vietnam/China</p>
        </div>

        <!-- <div class="post-item clearfix">
          <img src="assets/img/news-4.jpg" alt="">
          <h4><a href="#">Laborum corporis quo dara net para</a></h4>
          <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
        </div> -->

        <!-- <div class="post-item clearfix">
          <img src="assets/img/news-5.jpg" alt="">
          <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
          <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
        </div>  -->

      </div><!-- End sidebar recent posts-->

    </div>
  </div><!-- End News & Updates -->
</div>
</section>
</main><!-- End #main -->