<main id="main" class="main">

  <div class="pagetitle">
    <h1><%= title %></h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/">User/Employees</a></li>
        <li class="breadcrumb-item active">Data Admin</li>
      </ol>
    </nav>

  </div><!-- End Page Title -->


  <section class="section">
    <div class="row">
      <div class="col-lg-8">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Data Admin</h5>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Mobile Phone</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Fadel Muhamad Aliyafasya</td>
                  <td>aliyafasyafadel@gmail.com</td>
                  <td>082121569844</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Bridie Kessler</td> 
                  <td>bridieKessler@gmail.com</td>                    
                  <td>083804306865</td>                    
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </section>

</main><!-- End #main -->