<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Detail Customer</h5>
            <div class="tab-content pt-2">
              <% if (customer) { %>
              <div
                class="tab-pane fade show active profile-overview"
                id="profile-overview"
              >
                <div class="row">
                  <div
                    class="col-lg-3 col-md-4 label"
                    style="font-family: Poppins; font-size: 18px"
                  >
                    Username
                  </div>

                  <div
                    class="col-lg-9 col-md-8"
                    style="font-family: Poppins; font-size: 18px"
                  >
                    : <%= customer.username %>
                  </div>
                </div>
                <br />

                <div class="row">
                  <div
                    class="col-lg-3 col-md-4 label"
                    style="font-family: Poppins; font-size: 18px"
                  >
                    Full Name
                  </div>

                  <div
                    class="col-lg-9 col-md-8"
                    style="font-family: Poppins; font-size: 18px"
                  >
                    : <%= customer.name %>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div
                    class="col-lg-3 col-md-4 label"
                    style="font-family: Poppins; font-size: 18px"
                  >
                    Email
                  </div>
                  <div
                    class="col-lg-9 col-md-8"
                    style="font-family: Poppins; font-size: 18px"
                  >
                    : <%= customer.email %>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div
                    class="col-lg-3 col-md-4 label"
                    style="font-family: Poppins; font-size: 18px"
                  >
                    Mobile Phone
                  </div>
                  <div
                    class="col-lg-9 col-md-8"
                    style="font-family: Poppins; font-size: 18px"
                  >
                    : <%= customer.mobile_phone %>
                  </div>
                </div>
                <br />
                <% } else { %>
                <p style="font-family: Poppins; font-size: 18px">
                  Data not Found
                </p>
                <% } %>
              </div>
            </div>

            <a href="/data-customer" class="btn btn-primary"
              >Back to previous page</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
